[submodule "roboy_de10_nano_soc"]
	path = roboy_de10_nano_soc
	url = https://github.com/Roboy/roboy_de10_nano_soc
[submodule "epnp"]
	path = epnp
	url = https://github.com/artivis/epnp
[submodule "yamc"]
	path = yamc
	url = https://github.com/yohhoy/yamc
[submodule "vive_ros"]
	path = vive_ros
	url = https://github.com/Roboy/vive_ros
[submodule "darkroom/scripts/matlab2tikz"]
	path = darkroom/scripts/matlab2tikz
	url = https://github.com/matlab2tikz/matlab2tikz
[submodule "triad_openvr"]
	path = triad_openvr
	url = https://github.com/TriadSemi/triad_openvr
